body {
    background-image: url("images/bg.png");
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo{
    border-radius: 50%;
    margin-top: -14px;
}

.poster{
    height: 600px;
    width: 500px;
    margin-top: 20px;
}

.bump-up {
    height: 200px;
    width: 200px;
    border: 2px solid #ccc;
    float: left;
    margin: 15px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
    .bump-up img:hover {
        margin-top: 2px;
    }