@{
    ViewBag.Title = "Početna";
}

@*poster*@
    <div class="row">
        <div class="col-lg-6">
            <img src="~/Content/images/poster.jpg" alt="Poster imamge" class="poster" />
        </div>
        <div class="col-lg-6">
            <h2>Ovde ce ici stoperica</h2>
        </div>
    </div>


@*najposecenije*@
<div class="row">
    <h3 class="text-secondary text-center">Najposećenije</h3><br>

    <div class="col-lg-4 bump-up">
        <a href='#'>
            <img src="~/Content/images/slideimg2.jpg" class="img-responsive" style="width:100%" alt="Article Image">
        </a>
        <p class="font-naslov">O nama</p>
    </div>
    <div class="col-lg-4 bump-up">
        <a href='#'>
            <img src="~/Content/images/slideimg2.jpg" class="img-responsive" style="width:100%" alt="Article Image">
        </a>
        <p class="font-naslov">O nama</p>
    </div>
    <div class="col-lg-4 bump-up">
        <a href='#'>
            <img src="~/Content/images/slideimg2.jpg" class="img-responsive" style="width:100%" alt="Article Image">
        </a>
        <p class="font-naslov">O nama</p>
    </div>
</div>


@*ovde cemo izcitavati sponzore*@
<h2 class="text-center">Sponzori: </h2>
